<% include adminHeader %>

    <ul>
        <li><a href="adminHome">Profile</a></li>
        <li><a href="adminSearch" class="active">Search</a></li>
        <li><a href="addCourse">Add Course</a></li>
        <li><a href="updateDeleteCourse">Update/Delete</a></li>
        <li style="float:right"><a href="/">Logout</a></li>
    </ul>

    <br>
    <br>

   
<form method="GET" action="/adminSearchGo">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-6">
            <div class="searchbar">
                <input class="glyphicon glyphicon-search" type="text" placeholder="Search.." name="search">
                &emsp;
                <button class="btn btn-success" type="submit">Go</button>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    </form>
    
    <br>

    
    <br>
    <br>
    <% if(User != null) {%>
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-6">
            <span style="font-size: 20px"><b>Student Name :</b> <%=User.First_Name +" " +User.Last_Name %></span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-6">
            <span style="font-size: 20px"><b>Student Id  &emsp; &nbsp; : </b> <%=User.SID %> </span>
        </div>
    </div>
    <% }%>
    <br><br>

    <div class="row">
        <div class="col-md-2"></div>
        <span style="font-size: 20px"><b> &nbsp;&nbsp;Courses Registered </b></span>
    </div>
    <div class="col-md-2"></div>
    <table id="courses">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Course Name</th>
                <th>Course Id</th>
                <th>Timings</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Location</th>
            </tr>
        </thead>
        <% for(var i=0; i<Courses_Registered.length; i++) {%>
        <tr>
            <td> <%= i+1 %></td>
            <td> <%= Courses_Registered[i].Course_Name%></td>
            <td> <%= Courses_Registered[i].CourseID%></td>
            <td> <%= Courses_Registered[i].Timings%></td>
            <td> <%= Courses_Registered[i].Start_Date%></td>
            <td> <%= Courses_Registered[i].End_Date%></td>
            <td> <%= Courses_Registered[i].Location%></td>
        </tr>
        <% } %>
    </table>


    <br><br>
    
</body>

</html>