<% include adminHeader %>

    <ul>
        <li><a href="adminHome">Profile</a></li>
        <li><a href="adminSearch">Search</a></li>
        <li><a href="addCourse">Add Course</a></li>
        <li><a href="updateDeleteCourse" class="active">Update/Delete</a></li>
        <li style="float:right"><a href="/">Logout</a></li>
    </ul>

    <br>
    <br>


    <div class="row">
        <div class="col-md-2"></div>
        <span style="font-size: 20px"><b> &nbsp;&nbsp;Courses Taught</b></span>
    </div>
    <div class="col-md-2"></div>
    <table id="courses">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Course Name</th>
                <th>Course Id</th>
                <th>Timings</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Location</th>
                <th>No Of Seats</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>

        <% for(var i=0; i<Courses_teaching.length; i++) {%>
                <tr>
                    <td> <%= i+1 %></td>
                    <td> <%= Courses_teaching[i].Course_Name%></td>
                    <td> <%= Courses_teaching[i].CourseID%></td>
                    <td> <%= Courses_teaching[i].Timings%></td>
                    <td> <%= Courses_teaching[i].Start_Date%></td>
                    <td> <%= Courses_teaching[i].End_Date%></td>
                    <td> <%= Courses_teaching[i].Location%></td>
                    <td> <%= Courses_teaching[i].seats%></td>
                
            <td>
                    <input class="btn btn-primary" type="button" value='Update'>
            </td>
            <td>
                <input class="btn btn-warning" type="button" value='Delete'>
        </td>
        </tr>
        <% } %>
    </table>
