<% include adminHeader %>

    <ul>
        <li><a href="adminHome" class="active">Profile</a></li>
        <li><a href="adminSearch">Search</a></li>
        <li><a href="addCourse">Add Course</a></li>
        <li><a href="updateDeleteCourse">Update/Delete</a></li>
        <li style="float:right"><a href="/">Logout</a></li>
    </ul>

    <br>
    <br>
    
    <script type="text/javascript">
        $(window).on('load',function(){
            document.getElementById("profileImage").src = document.getElementById("imageid").innerHTML
        });
    </script>
    <% if(User != null) {%>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <span style="font-size: 20px"><b>Faculty Name :</b> <%=User.First_Name +" " +User.Last_Name %></span>
            <br><br><br>
            <span style="font-size: 20px"><b>Faculty Id  &emsp; &nbsp; : </b> <%=User.FID %> </span>
        </div>
        <p id="imageid" hidden><%= User.pic %></p>
        <div class="col-md-4">
                <img  style="border:5px green" src="" alt="Image not available for the user" width="200" height="200"  id="profileImage" > 
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <!-- <span style="font-size: 20px"><b>Student Id  &emsp; &nbsp; : </b> <%=User.SID %> </span> -->
        </div>
    </div>
    <% } %>

    <div class="row">
        <div class="col-md-2"></div>
        <span style="font-size: 20px"><b> &nbsp;&nbsp;Courses Taught </b></span>
    </div>
    <br><br>
    <div class="col-md-2"></div>
    <table id="courses">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Course Name</th>
                <th>Course Id</th>
                <th>Timings</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Location</th>
            </tr>
        </thead>
        <% for(var i=0; i<Courses_teaching.length; i++) {%>
                <tr>
                    <td> <%= i+1 %></td>
                    <td> <%= Courses_teaching[i].Course_Name%></td>
                    <td> <%= Courses_teaching[i].CourseID%></td>
                    <td> <%= Courses_teaching[i].Timings%></td>
                    <td> <%= Courses_teaching[i].Start_Date%></td>
                    <td> <%= Courses_teaching[i].End_Date%></td>
                    <td> <%= Courses_teaching[i].Location%></td>
                </tr>
                <% } %>
    </table>

</body>

</html>