<% include adminHeader %>

    <ul>
        <li><a href="adminHome">Profile</a></li>
        <li><a href="adminSearch">Search</a></li>
        <li><a href="addCourse">Add Course</a></li>
        <li><a href="updateDeleteCourse" class="active">Update/Delete</a></li>
        <li style="float:right"><a href="/">Logout</a></li>
    </ul>

    <br>
    <br>


    <div class="row">
        <div class="col-md-1"></div>
        <span style="font-size: 20px"><b> &nbsp;&nbsp;Courses Taught</b></span>
    </div>
    <br>
    <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
    <table id="courses">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Course Name</th>
                <th>Course Id</th>
                <th>Timings</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Location</th>
                <th>No Of Seats</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        
        <% for(var i=0; i<Courses_teaching.length; i++) {%>
            
                <tr>
         <form method="post" action="/update">
                    <td> 
                        <input type="text" size = 1 name="sno" value=<%= i+1 %> />
                    </td>
                    <td> 
                        <input type="text"   disable name="sno" size = 4 value=<%= Courses_teaching[i].Course_Name %> />
                    </td>
                    <td> 
                            <input type="text"  size = 4 name="sno" value= <%= Courses_teaching[i].CourseID %> />
                    </td>
                    <td> 
                            <input type="text"  size = 5 name="sno" value=  <%= Courses_teaching[i].Timings%> />
                    </td>
                    <td> 
                            <input type="text"  size = 7  name="sno" value= <%= Courses_teaching[i].Start_Date%> />
                    </td>
                    <td> 
                            <input type="text" size = 7 name="sno" value= <%= Courses_teaching[i].End_Date%> />
                    </td>
                    <td> 
                            <input type="text"  size = 9 name="sno" value= <%= Courses_teaching[i].Location %> />
                    </td>
                    <td> 
                            <input type="text"  size = 2 name="sno" value= <%= Courses_teaching[i].seats %> />
                    </td>
                   
         
            <td>
                    <input class="btn btn-primary" type="submit" value='Update'>
            </td>
            <td hidden>
                    <input type="text"  name= "courseid" hidden value= <%= Courses_teaching[i].CourseID %> >
            </td>
        </form>
        <form method="post" action="/delete">
            <td>
                <input class="btn btn-warning" type="submit" value='Delete'>
        </td>
        <td hidden>
                <input type="text"  name= "courseid" hidden value= <%= Courses_teaching[i].CourseID %> >
        </td>
    </form>
        </tr>
        <% } %>
    </table>
    </div>
</div>
