<% include adminHeader %>

    <ul>
        <li><a href="adminHome" class="active">Profile</a></li>
        <li><a href="adminSearch">Search</a></li>
        <li><a href="addCourse">Add Course</a></li>
        <li><a href="updateDeleteCourse">Update/Delete</a></li>
        <li style="float:right"><a href="/">Logout</a></li>
    </ul>

    <br>
    <br>
    <% if(User != null) {%>
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-6">
            <span style="font-size: 20px"><b>Faculty Name: </b>  <%=User.First_Name +" " +User.Last_Name %></span>
           
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-6">
            <span style="font-size: 20px"><b>Faculty Id  &emsp; &nbsp;:</b> <%=User.FID %></span>
            
        </div>
    </div>
    <% } %>

    <br><br>

    <div class="row">
        <div class="col-md-2"></div>
        <span style="font-size: 20px"><b> &nbsp;&nbsp;Courses Taught </b></span>
    </div>
    <br><br>
    <div class="col-md-2"></div>
    <table id="courses">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Course Name</th>
                <th>Course Id</th>
                <th>Timings</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Location</th>
            </tr>
        </thead>
        <% for(var i=0; i<Courses_teaching.length; i++) {%>
                <tr>
                    <td> <%= i+1 %></td>
                    <td> <%= Courses_teaching[i].Course_Name%></td>
                    <td> <%= Courses_teaching[i].CourseID%></td>
                    <td> <%= Courses_teaching[i].Timings%></td>
                    <td> <%= Courses_teaching[i].Start_Date%></td>
                    <td> <%= Courses_teaching[i].End_Date%></td>
                    <td> <%= Courses_teaching[i].Location%></td>
                </tr>
                <% } %>
    </table>

</body>

</html>