<% include userHeader %>

<ul>
    <li><a href="/userHome">Profile</a></li>
    <li><a href="/userSearch">Search</a></li>
    <li><a href="/userRegisterDrop" class="active">Register/Drop</a></li>
    <li style="float:right"><a href="/">Logout</a></li>
</ul>

<br>
<br>
<div class="row">
    <div class="col-md-2"></div>
    <span style="font-size: 20px"><b> &nbsp;&nbsp;Courses Registered </b></span>
</div>
<div class="col-md-2"></div>

    <table id="courses">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Course Name</th>
                <th>Course Id</th>
                <th>Timings</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Location</th>
                <th>Drop</th>
            </tr>
        </thead>

        <% for(var i=0; i<Courses_Registered.length; i++) {%>
        <tr>
            <td>
                <%= i+1 %>
            </td>
            <td>
                <%= Courses_Registered[i].Course_Name%>
            </td>
            <td>
                <%= Courses_Registered[i].CourseID%>
            </td>
            <td>
                <%= Courses_Registered[i].Timings%>
            </td>
            <td>
                <%= Courses_Registered[i].Start_Date%>
            </td>
            <td>
                <%= Courses_Registered[i].End_Date%>
            </td>
            <td>
                <%= Courses_Registered[i].Location%>
            </td>
            <form method="post" action="/drop">
            <td>
                <input class="btn btn-warning" type="submit" value= "Drop">
            </td>
            
            <td hidden>
                    <input type="text"  name= "courseid" hidden value= <%= Courses_Registered[i].CourseID %> >
            </td>
        </form>
        </tr>
        <% } %>
    </table>

<br><br>
<div class="row">
    <div class="col-md-2"></div>
    <span style="font-size: 20px"><b> &nbsp;&nbsp;Courses Available </b></span>
</div>
<div class="col-md-2"></div>

    <table id="courses">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Course Name</th>
                <th>Course Id</th>
                <th>Timings</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Location</th>
                <th>Register</th>
            </tr>
        </thead>


        <% for(var i=0; i<Courses_Not.length; i++) {%>
        <tr>
            <td>
                <%= i+1 %>
            </td>
            <td>
                <%= Courses_Not[i].Course_Name%>
            </td>
            <td>
                <%= Courses_Not[i].CourseID%>
            </td>
            <td>
                <%= Courses_Not[i].Timings%>
            </td>
            <td>
                <%= Courses_Not[i].Start_Date%>
            </td>
            <td>
                <%= Courses_Not[i].End_Date%>
            </td>
            <td>
                <%= Courses_Not[i].Location%>
            </td>
            <form method="post" action="/register">
            <td>
                <input class="btn btn-primary" type="submit" value='Register'>
            </td>

            <td hidden>
                    <input type="text"  name= "courseid" hidden value= <%= Courses_Not[i].CourseID %> >
            </td>
        </form>
        </tr>
        <% } %>
    </table>

</body>

</html>