<% include userHeader %>

<ul>
    <li><a href="/userHome">Profile</a></li>
    <li><a href="/userSearch">Search</a></li>
    <li><a href="/userRegisterDrop" class="active">Register/Drop</a></li>
    <li style="float:right"><a href="/">Logout</a></li>
</ul>


<script type="text/javascript">
    $(window).on('load',function(){
        if(document.getElementById("forerrormsg").innerHTML != "success"){
            document.getElementById("displaymsg").innerHTML = document.getElementById("forerrormsg").innerHTML;
            
            document.getElementById("displaymsg").style.color = "green";
            
             $('#myModal').modal('show');
        }
    });
</script>
<div class="container">
    <p id="forerrormsg" hidden><%= errormsg %></p>
       
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Error Message</h4>
        </div>
        <div class="modal-body">
          <p id="displaymsg" style="font-size: 30px;font-family:Times New Roman, Times, serif;">Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>


<br>
<br>
<div class="row">
    <div class="col-md-2"></div>
    <span style="font-size: 20px"><b> &nbsp;&nbsp;Courses Registered </b></span>
</div>
<div class="col-md-2"></div>

    <table id="courses">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Course Name</th>
                <th>Course Id</th>
                <th>Timings</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Location</th>
                <th>Drop</th>
            </tr>
        </thead>

        <% for(var i=0; i<Courses_Registered.length; i++) {%>
        <tr>
            <td>
                <%= i+1 %>
            </td>
            <td>
                <%= Courses_Registered[i].Course_Name%>
            </td>
            <td>
                <%= Courses_Registered[i].CourseID%>
            </td>
            <td>
                <%= Courses_Registered[i].Timings%>
            </td>
            <td>
                <%= Courses_Registered[i].Start_Date%>
            </td>
            <td>
                <%= Courses_Registered[i].End_Date%>
            </td>
            <td>
                <%= Courses_Registered[i].Location%>
            </td>
            <form method="post" action="/drop">
            <td>
                <input class="btn btn-warning" type="submit" value= "Drop">
            </td>
            
            <td hidden>
                    <input type="text"  name= "courseid" hidden value= <%= Courses_Registered[i].CourseID %> >
            </td>
        </form>
        </tr>
        <% } %>
    </table>

<br><br>
<div class="row">
    <div class="col-md-2"></div>
    <span style="font-size: 20px"><b> &nbsp;&nbsp;Courses Available </b></span>
</div>
<div class="col-md-2"></div>

    <table id="courses">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Course Name</th>
                <th>Course Id</th>
                <th>Timings</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Location</th>
                <th>Register</th>
            </tr>
        </thead>


        <% for(var i=0; i<Courses_Not.length; i++) {%>
        <tr>
            <td>
                <%= i+1 %>
            </td>
            <td>
                <%= Courses_Not[i].Course_Name%>
            </td>
            <td>
                <%= Courses_Not[i].CourseID%>
            </td>
            <td>
                <%= Courses_Not[i].Timings%>
            </td>
            <td>
                <%= Courses_Not[i].Start_Date%>
            </td>
            <td>
                <%= Courses_Not[i].End_Date%>
            </td>
            <td>
                <%= Courses_Not[i].Location%>
            </td>
            <form method="post" action="/register">
            <td>
                <input class="btn btn-primary" type="submit" value='Register'>
            </td>

            <td hidden>
                    <input type="text"  name= "courseid" hidden value= <%= Courses_Not[i].CourseID %> >
            </td>
        </form>
        </tr>
        <% } %>
    </table>
</div>
</body>

</html>