<% include userHeader %>
<ul>
    <li><a href="/userHome">Profile</a></li>
    <li><a href="/userSearch" class="active">Search</a></li>
    <li><a href="/userRegisterDrop">Register/Drop</a></li>
    <li style="float:right"><a href="/">Logout</a></li>
</ul>

<br>
<br>
<form method="GET" action="/userSearchGo">
<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-6">
        <div class="searchbar">
            <input class="glyphicon glyphicon-search" type="text" placeholder="Search.." name="search">
            &emsp;
            <button class="btn btn-success" type="submit">Go</button>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
</form>
<br>

<br><br>
<div class="row">
    <div class="col-md-2"></div>
    <span style="font-size: 20px"><b> &nbsp;&nbsp;Courses</b></span>
</div>
<br>
<div class="col-md-2"></div>
<table id="courses">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Course Name</th>
            <th>Course Id</th>
            <th>Timings</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Location</th>
        </tr>
    </thead>

    <% if(course != null){%>
            <tr>
                <td> <%= 1 %></td>
                <td> <%= course.Course_Name%></td>
                <td> <%= course.CourseID%></td>
                <td> <%= course.Timings%></td>
                <td> <%= course.Start_Date%></td>
                <td> <%= course.End_Date%></td>
                <td> <%= course.Location%></td>
            </tr>
     <% } %>
</table>

</body>

</html>